body {
    margin: 0;
    background-color: #302929;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar-link {
    position: relative;
    text-decoration: none;
    color: rgb(250, 249, 249);
    margin-left: 20px;
    font-weight: 500;
    transition: color 0.3s, transform 0.2s ease;

}

.navbar-link:hover {
    color: #fff82e;
    transform: scale(1.05);
}

.navbar-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #ffd700;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

.navbar-link:hover::after {
    width: 100%;
}

.cart-badge {
    position: absolute;
    top: -8px;
    right: -12px;
    background-color: #ff4d4d;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
    animation: pop 0.3s ease;
}

@keyframes pop {
    0% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}

.logout-btn {
    background-color: #ff4d4d;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    margin-left: 20px;
}

.logout-btn:hover{
    background-color: #ff1f1f;
    transform: scale(1.05);
}

